/*This makes the flashcard fly in*/
 @keyframes fly {
    0%{
        transform:translateX(-200px);
    }
    100%{
        transform:translateX(0px);
    }
}




/*This block makes the card flip when the mouse hovers over*/
 #flashcardBox:hover{
transform: rotateY(360deg);

 }
 
