* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.screenBackground {
  background-image: url("img/ColoredPencils.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* 100vh stands for 'viewport height' and when we set it to 100 it means it will take up 100% of the viewing screen  */
}
.navbar {
  background-color: rgb(172, 191, 232);
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navItems {
  list-style-type: none;
  padding: 0 40px;
}
.tabNames {
  display: inline-block;
  padding: 3px 25px;
}
.navbar a {
  text-decoration: none;
}
.navbar a:hover {
  color: palevioletred;
}
.hamburger {
  display: none;
}
.hamburger div {
  width: 25px;
  height: 3px;
  background-color: blueviolet;
  margin: 5px;
}
@media screen and (max-width: 770px) {
  body {
    overflow: hidden;
  }
  .navItems {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 15vh;
    background-color: rgb(172, 191, 232);
    flex-direction: column;
    align-items: flex-end;
    transform: translate(100%);
  }
  .tabNames {
    opacity: 0;
    padding: 10%;
  }
  .hamburger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.logo {
  float: left;
  padding-top: 3px;
  padding-bottom: 0px;
}
.logo img {
  border-radius: 50%;
}
.sloganScreen-WebName {
  background-color: rgba(223, 133, 216, 0.73);
  align-items: center;
  font-size: 40px;
  margin-left: 30vh;
  margin-right: 30vh;
}
.sloganScreen-container {
  align-items: center;
  padding-top: 30vh;
  padding-bottom: none;
  padding-left: 50vh;
  padding-right: 50vh;
}
.sloganScreen-WebSlogan {
  font-size: 20px;
  background-color: rgba(172, 191, 232, 0.73);
  padding-left: 50px;
}
